[submodule "brackets-src"]
	path = brackets-src
	url = https://github.com/rabchev/node-brackets-src.git
[submodule "node_modules/supervisor"]
	path = node_modules/supervisor
	url = https://github.com/rabchev/node-supervisor.git
[submodule "node_modules/terminal"]
	path = node_modules/terminal
	url = https://github.com/rabchev/node-browser-shell.git
[submodule "bin/templates/real-estate"]
	path = bin/templates/real-estate
	url = https://github.com/rabchev/real-est-tmpl.git
