.md-hide {
    display: none;
}

.md-root {
    
}

.md-btn {
    display: inline-block;
    padding: 3px 10px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 2px 5px;
    color: #777;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.md-btn:hover {
    background: #e5e5e5;
    text-decoration: none;
    color: #777;
}

.md-sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.md-sidebar-itm {
    background: #eee;
    width: 100%;
    padding: 0px;
    cursor: pointer;
}

.md-sidebar-itm-a {
    color: #777;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
}

.md-sidebar-itm-a:hover {
    text-decoration: none;
    color: #777;
}

.md-sidebar-itm:hover {
    background: #e5e5e5;
}

.md-selected {
    background: #ccc;
}

.md-selected:hover {
    background: #ccc !important;
}

.md-rule {
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 5px 20px;
}

.md-rule2 {
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 0px 10px 0px 10px;
}

.md-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20;
}

.md-list-itm {
    width: 100%;
    padding: 0px;
    cursor: pointer;
}

.md-list-itm-a {
    color: #777;
    margin-top: 2px;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
}

.md-list-itm-a div {
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    font-size: 12px;
}

.md-list-itm-a:hover {
    text-decoration: none;
    color: #777;
}

.md-list-itm:hover {
    background: #e5e5e5;
}

.md-label {
    float: left;
    color: #777;
    width: 50px;
}

#md-left-col {
    float: left;
    width: 208px;
    background: #eee;
    display: block;
    height: 100%;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#md-mid-col {
    float: left;
    display: block;
    width: 300px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
}

#md-right-col {
    display: block;
    padding: 0px;
    overflow: auto;
    height: 100%;
}

#md-header {
    padding: 5px;
    margin: 5px;
    background-color: #eee;
}

#md-sidebar {
    margin-top: 5px;
}

#search-box {
    width: 176px;
    line-height: 18px;
    height: 20px;
    padding: 2px 6px 0;
    border: 1px solid #999999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    margin: 10px;
    margin-top: 15px;
}

#md-det-hdr {
    padding: 10px 5px 0px 5px;   
}

#md-det-title {
    padding: 2px 10px;
}

#md-det-cnt {
    padding: 10px;   
}

#md-det-cnt ul li {
    list-style: none;
    color: #000000;
}

#md-det-cnt p {
    margin-left: 25px;
}

#md-det-cnt h4 {
    color: #777;
}

#md-deps-cnt {
    max-height: 300px;
    overflow: auto;
    margin: 10px;
}